.Notifications {
  button {
    &:hover {
      background: none;
    }
  }
  p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }

  .Timestamp {
    font-style: italic;
    font-size: 0.75rem;
    padding-left: 0.2rem;
  }
}

a {
  text-decoration: none;
  color: #313131;
}

.Button {
    background: none;
    border: none;
}