body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 0;
}

.container {
  background:#e6ecf0;
  height: 100%;
  margin-top: 3.5rem;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
::-webkit-scrollbar-thumb {
  background: #c3c3c3; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8; 
}